html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead {
	font-family:Georgia, 'Times New Roman', Times, serif;
	
}

body {
	margin: 0;
	padding: 0;

	outline: 0;

	color: #555;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    /* background: #dcdcdc url(../images/footer_bcgr.png) top repeat-x; */
}

img { border-style: none;
	border-color: inherit;
	border-width: 0px;

}

table {
	border-collapse: collapse;
	border-spacing: 0;

	margin:0;

}

.pic_box_img { max-width:100px; max-height:100px; }
.pic_box {   border-spacing: 10px;  border: 1px solid rgb(202, 202, 202); padding: 10px; background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(232, 232, 232);
    margin-bottom: 2px;
    margin-right: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 666px;
    background-repeat: initial initial;
    background-image: initial;
}

.input_text {border:1px solid #cacaca; padding:5px; font-family: Arial, Helvetica, sans-serif; font-size:12px; width:400px;     background-color:  #CCFFCC}
.input_text:focus {background-color:#ffffe3;}

.footera { width: 600px; font-size:10px; color: #777; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;  }
.footer {clear: both; background: #dcdcdc url(register/footer_bcgr.png) top repeat-x; border-top: 1px solid #a7a7a7; padding: 14px 0 0 0; font-size: .8em; margin-top: 40px; }

.login-box-top-table { border: 1 solid black; }
.login-box-top-td {background: #C0C0C0; color:black; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size:18px;   line-height:24px; padding:5px; }
.login-box-td { font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;   }

.tablo_orta { margin:0 auto ; border-collapse: collapse;  }
.ortala { text-align: center; }



table.mid_box { border: 1px solid gray;  width: 100%  }
td.mid_box{ border: 1px solid gray;  height:30px; padding-left:10px; color:black;  background-color: #F0F0F0 ;  }
td.mid_box_red{ font-family: Trebuchet MS;font-size:18px; font-weight:bold; font-style:italic; border: 1px solid red;  height:30px; padding-left:10px; color:red;  background-color: #F0F0F0 ;  }

.thinner { font-family: Segoe UI; font-size:10px }

a {text-decoration: none; }
h1 { display: inline;	font-size: 18px;  text-decoration:none; }
h2 { display: inline;	font-size: 15px; 	 text-decoration:none; }
h3 { display: inline;	font-size: 15px; 	 text-decoration:none; }
h4 { display: inline;	font-size: 14px; 	text-decoration:none; }

a.login {   margin-right:20px; line-height:25px; color:white ; display: block;  border-style: none; }
td.login { font-family:Georgia, 'Times New Roman', Times, serif;  border-right: 1px solid #fff;width:480px; background-color: #189C45; vertical-align:middle; text-align:right; }
td.login:hover {background: #0f7531; color: #fff; }


a.register {   margin-left:20px; line-height:25px; color:white ; display: block;  border-style: none; }
td.register {  font-family:Georgia, 'Times New Roman', Times, serif;   width:480px; background-color: #189C45; vertical-align:middle; text-align:left; }
td.register:hover {background: #0f7531; color: #fff; }

td.cashlink {font-size:16px;   }
a.cashlink { color:#189C45 }
a.cashlink:hover {	 color:black; }	


td.searchtxt {	 border: 1px solid #000000; }
td.resulttxt { vertical-align:middle; width: 490px; padding: 2px 0 0 0; margin: 0; color: #777; border: 0px; font: 1.4em Georgia, 'Times New Roman', Times, serif;}


a.txtlnk {  text-decoration:none; color:White; }
a.txtlnk:hover {	color:black; color:White;text-decoration:underline; }	

.tab_content { color:White; width: 900px;  }


.text100 { font: 14px Georgia, 'Times New Roman', Times, serif;
           width:100px;  border-width:1px; padding:0px; border:1px solid green }
.text100x { font: 16px Georgia, 'Times New Roman', Times, serif;
           width:98%;   padding:0px; border:1px solid green }           
.textsearch { width: 490px; padding: 2px 0 0 0; margin: 0; color: #777; border:1px solid green; font: 1.4em Georgia, 'Times New Roman', Times, serif;
}

.table_main_gr  {
	font-size:13px;  
	margin:0 auto ; border-collapse: collapse;width:600px;
	line-height:30px;
	border-style: solid; border-width: 1px; border-color:green;
}
           
.tablo_main  {
	font-size:16px;	
	margin:0 auto ; border-collapse: collapse;width:600px;
	line-height:30px;
}
.tablo_orta_cevre  { 	margin:0 auto ;   border-style: solid; border-width: 1px; }
.tablo_orta_mavi { margin:0 auto ;background-color:#f9f9f9; }
.tablo_orta_mavi_kenar { margin:0 auto ;background-color:#f9f9f9;  border-style: solid; border-width: 1px;}           

td.sag {	text-align:right; padding-right:5px; }



h3 {   text-decoration:none;  height:10px; }


a.site_title {	
	text-decoration:none;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:26px;
	color:Black;
	font-style:italic;
}


.site_subtitle {
	border:0px initial initial; 
	background:url('../../themes/default/css/initial') initial initial initial; 
	font-family:Georgia, 'Times New Roman', Times, serif;
    margin-right: 0px; margin-bottom: 0px; margin-left: 0px;
     padding-top: 0px; padding-right: 0px; padding-bottom: 10px; padding-left: 21px; outline-width: 0px;
     font-size: 13px; vertical-align: baseline;
     color: rgb(102, 102, 102); line-height: 1; 
     
}
.table_alt_cizgi { 		border-bottom: 1px solid #ccc;		border-color:#e8e8e8; }
.table_kesik_alt_cizgi { 		border-bottom: 1px dashed #ccc;		border-color:#e8e8e8; }






.topic_table {	width: 670px; }


td.topic_title_td { vertical-align:top;padding-top:20px;}
a.topic_title { 	 margin-left: 0px; 	 text-decoration:none;	 color:#0099FF;	 font-size:20px;	 font-weight:normal;	}


.topic_content {  	margin-left: 0px;	margin-top:0;	font-size: 16px; }
.topic_content img { margin:5px;}
 
a.topic_keywords { 	text-decoration:none;	color:#0099FF;	font-size:10px;	font-style:italic; }
a.topic_keywords:hover { text-decoration:underline; }
a.topic_keywordstext {	text-decoration:none;	color:Black;	font-size:11px;	font-style:italic; }
.keywordstext {	text-decoration:none;	color:Black;	font-size:11px;	font-style:italic; }

.topic_images{ 	vertical-align:middle; 	width:16px; 	height:16px;	border-style:none; }


.right_panel {vertical-align:top;  width: 300px; }
.table_rightbox { 	width:100%;  }
.right_box { background-color: #FFE0BF;	 border-top: 1px dashed #ccc;	padding:10px; }
.right_box_title { 	font-style:italic;	font-weight:bold; }

a.read_more {  	text-decoration:none;	color:#109dd0; }
a.read_more:hover { 	 text-decoration:underline; }


.PostTime { padding: 0px; margin: 0px; height: 71px; width: 67px; text-align: center; color:#fff; }
.PostTime .day { font-size: 20px; line-height: 18px; letter-spacing: -1px; padding-top: 20px; 
                 font-family: 'Arial';}
.PostTime strong { display: block; line-height: 9px; font-family: 'Verdana';}
.PostTime .month { font-size: 10px; text-transform: lowercase;}
.PostTime .year { padding-top: 7px; font-weight: normal; }

td.time_td { width:80px; }
.time_table {
	 width: 67px; height: 72px;
	 padding: 0; 
	 border-spacing: 0;
	}
.time_backg {
	background: url('../../themes/default/images/PostTimeBkg.gif') no-repeat; 
	vertical-align:top;
}


