.site_title {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size:35px;
}
.site_subtitle {
	border:0px initial initial; 
	background:url('initial') initial initial initial; 
	font-family: Trebuchet MS, Lucida Sans Unicode,Lucida Grande, Lucida Sans, Arial, sans-serif;
    margin-top: -20px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;
     padding-top: 0px; padding-right: 0px; padding-bottom: 10px; padding-left: 21px; outline-width: 0px;
     font-size: 13px; vertical-align: baseline;
     color: rgb(102, 102, 102); line-height: 1; font-style: italic; 
}
.table_alt_cizgi {
		border-bottom: 1px solid #ccc;
		border-color:#e8e8e8;
}
.table_kesik_alt_cizgi {
		border-bottom: 1px dashed #ccc;
		border-color:#e8e8e8;

}

.table_rightbox {
		width:100%;
	 margin-top:20px;
}
.topic_table {
	 margin-top:20px;
	width: 100%;
}

a.topic_title {

	 text-decoration:none;
	 color:#0099FF;
	 font-size:20px;
	 font-weight:normal;	
}

.topic_content {
	margin-top:0;
	font-size: 16px;
 }
a.topic_keywords {
 	text-decoration:none;
	color:#0099FF;
	font-size:10px;
	font-style:italic;

}
a.topic_keywords:hover {
	 text-decoration:underline;
}

.topic_images{
	vertical-align:middle;
}

.right_box {
	 background-color: #FFE0BF;
	 border-top: 1px dashed #ccc;
	 padding-left:10px;
}
a.right_box_title {
	font-style:italic;
	font-weight:bold;
}
a.read_more {
		color:#109dd0;
}
a.read_more:hover {
		 text-decoration:underline;
}
