<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<!-- ##### URL REWRITER CODE START #### -->
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
		<!-- ##### URL REWRITER CODE END #### -->
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<customErrors mode="Off"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
		<compilation debug="false" strict="false" explicit="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Xml.Linq"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<!-- ##### URL REWRITER CODE START #### -->
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
			<!-- ##### URL REWRITER CODE END #### -->
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727"><dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding></runtime>
	<!-- ##### URL REWRITER CODE START #### -->
	<rewriter>
		<!-- ================== ONLINENAKLIYAT.ORG START ===================================== -->
		<rewrite url="^/on/sitemap.xml" to="~/on/sitemap.aspx"/>
		<redirect url="^/tr/(.+)" to="http://www.onlinenakliyat.org/on/$1"/>
		<redirect url="~/on/index.html" to="~/on/index.aspx"/>
		<redirect url="~/on/index-1.html" to="~/on/index.aspx"/>
		<redirect url="~/on/index-2.html" to="~/on/index.aspx"/>
		<redirect url="~/on/index-3.html" to="~/on/index.aspx"/>
		<redirect url="~/on/index-4.html" to="~/on/index.aspx"/>
		<rewrite url="^/on/hizmetlerimiz/(.+).aspx" to="~/on/index.aspx?tag=$1"/>
		<rewrite url="^/on/hizmetlerimiz/" to="~/on/hizmetler.aspx"/>
		<rewrite url="^/on/il-ve-ilceler/(.+)/(.+)/(.+)/(.+)" to="~/on/index.aspx?ilce=$3"/>
		<rewrite url="^/on/il-ve-ilceler/(.+)/(.+)/(.+)" to="~/on/index.aspx?sehir=$2"/>
		<rewrite url="^/on/il-ve-ilceler/(.+)-ili-nakliye-hizmetleri-(.+).aspx" to="~/on/index.aspx?sehir=$2 "/>
		<rewrite url="^/on/il-ve-ilceler/(.+)-ilceleri-nakliye-hizmetleri-(.+).aspx" to="~/on/il-ve-ilceler.aspx?sehirid=$2 "/>
		<rewrite url="^/on/il-ve-ilceler/(.+)-ili-(.+)-ilcesi-nakliye-hizmetleri-(.+).aspx" to="~/on/index.aspx?ilce=$3 "/>
		<rewrite url="^/on/il-ve-ilceler/" to="~/on/il-ve-ilceler.aspx  "/>
		<!-- ================== ONLINENAKLIYAT.ORG START ===================================== -->
		<!-- +++ WebOdulleri.net START +++ -->
		<!-- WebOdulleri.net KICK TO ACTUAL LINK START -->
		<!-- WebOdulleri.net KICK TO ACTUAL LINK END -->
		<!-- WebOdulleri.net REWRITING URL START -->
		<rewrite url="^/wo/etiket/(.+).aspx" to="~/wo/index.aspx?tag=$1"/>
		<!-- WebOdulleri.net REWRITING URL END -->
		<!-- +++ WebOdulleri.net END   +++ -->
		<!-- ================== eXtreme.gen.tr START ===================================== -->
		<rewrite url="^/ex/etiket/(.+).aspx" to="~/ex/index.aspx?tag=$1"/>
		<!-- ================== eXtreme.gen.tr END ======================================= -->
		<!-- ================== HOLIDAYCHOICES.NET START ===================================== -->
		<!-- 3 + + -->
		<rewrite url="^/hc/en/destination/(.+)/(.+)/(.+)/(.+)" to="~/hc/detail.aspx?id=$4"/>
		<rewrite url="^/hc/en/destination/(.+)/(.+)/(.+)" to="~/hc/cities.aspx?id=$3"/>
		<rewrite url="^/hc/en/destination/(.+)/(.+)" to="~/hc/regions.aspx?id=$2"/>
		<!-- 3 + 1 -->
		<!--<rewrite url="~/hc/en/tags/(.+)" to="~/hc/index.aspx?tag=$1"/>-->
		<!-- 2 + 1 -->
		<redirect url="^/hc/tags.aspx" to="~/hc/en/tags/ "/>
		<rewrite url="^/hc/en/tags/" to="~/hc/tags.aspx"/>
		<redirect url="^/hc/en/tags" to="~/hc/en/tags/ "/>
		<!--<redirect url="~/hc/search.aspx" to="~/hc/en/search/ "/>-->
		<rewrite url="^/hc/en/searched/(.+)/" to="~/hc/searched.aspx?page=$1 "/>
		<rewrite url="^/hc/en/searched/" to="~/hc/searched.aspx"/>
		<redirect url="^/hc/en/searched" to="~/hc/en/searched/ "/>
		<!--<redirect url="~/hc/search.aspx" to="~/hc/en/search/ "/>-->
		<rewrite url="^/hc/en/search/(.+)" to="~/hc/search.aspx?tag=$1 "/>
		<rewrite url="^/hc/en/search/" to="~/hc/search.aspx"/>
		<redirect url="^/hc/en/search" to="~/hc/en/search/ "/>
		<!-- 1 + 1 -->
		<redirect url="^/hc/rss.aspx" to="~/hc/en/rss/"/>
		<rewrite url="^/hc/en/rss/" to="~/hc/rss.aspx"/>
		<redirect url="^/hc/en/rss" to="~/hc/en/rss/"/>
		<redirect url="^/hc/index.aspx" to="~/hc/en/"/>
		<rewrite url="^/hc/en/" to="~/hc/index.aspx"/>
		<redirect url="^/hc/en" to="~/hc/en/"/>
		<!-- 1 + 0 -->
		<rewrite url="^/hc/sitemap.xml" to="~/hc/sitemap.aspx"/>
		<rewrite url="^/hc/sitemap_(.+).xml" to="~/hc/sitemap.aspx?map=$1"/>
		<!-- ================== HOLIDAYCHOICES.NET END ===================================== -->
		<!--  ~~~~ UYARILAR ~~~~ 
      1) 2 Redirect Üst Üste Olmaz!
      2) Daha detaylı redirect'ler daha üstte.
      -->
	</rewriter>
	<!-- ##### URL REWRITER CODE END #### -->
</configuration>
